<!-- src/app/components/data-card/data-card.component.html -->
<mat-card class="comment">
  <div class="comment-score">
    <button mat-icon-button (click)="updateScore(true)">
      <mat-icon fontIcon="add">add</mat-icon>
    </button>
    <span>{{ comment.score }}</span>
    <button mat-icon-button (click)="updateScore(false)">
      <mat-icon fontIcon="remove">remove</mat-icon>
    </button>
  </div>
  <div class="comment-content">
    <mat-card-header class="comment-header">
      <div mat-card-avatar class="comment-header__avatar">
        <img [src]="getAssetPath(comment.user.image.png)" alt="Avatar of {{ comment.user.username }}">
      </div>
      <mat-card-title class="comment-header__title">{{ comment.user.username }}</mat-card-title>
      <mat-card-subtitle class="comment-header__subtitle">{{ comment.createdAt | relativeTime }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ comment.content }}</p>
    </mat-card-content>
  </div>
</mat-card>
