@import './theme';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  body {
    display: block;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

.container {
  box-sizing: border-box;
  padding: 10px 15px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px; 
}

.comment {
  
  &-header{
    align-items: center;
    .mat-mdc-card-header-text {
      display: flex;
      justify-items: flex-start;
      align-items: center;
    }
    &__avatar {
      margin-bottom: 0!important;
      img {
        width: 100%;
      }
    }
  }
}