@import './theme';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  body {
    display: block;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #e8eaf6;
  }
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

.container {
  box-sizing: border-box;
  padding: 10px 15px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px; 
  max-width: 700px;
  margin: 0 auto;
}

.comment {
  flex-direction: row !important;
  align-items: stretch;
  &-header{
    align-items: center;
    .mat-mdc-card-header-text {
      display: flex;
      justify-items: flex-start;
      align-items: center;
    }
    &__avatar {
      margin-bottom: 0!important;
      img {
        width: 100%;
      }
    }
  }
  &-score{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 30px;
    button {
      width: 30px!important;
      height: 30px!important;
      padding: 2px!important;
      box-sizing: border-box;
    }
    .mat-icon {
      width: 16px !important;
      height: 16px !important;
      line-height: 16px !important;
    }
    .material-icons {
        font-size: 16px !important;
    }
  }
}

.replies {
  padding: 0 0 0 15px;
  border-left: 1px solid #d0d0d0;
  margin: 20px 0 0px 15px;
}